@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  background-color: lightblue;
}

.alert-system {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 5px;
  background-color: rgb(221, 221, 221);
  font-family: "DM Sans", sans-serif;
  margin: 14px;
  margin-top: 2px;
  border-radius: 12px;
}

:root {
  --component-background-color: white; /* Default background color */
}

.alert-output {
  justify-content: center;
  margin: 10px;
  padding: 5px;
  padding-top: 1px;
}

.alert-list {
  background-color: var(--component-background-color);
  height: 15%;
  padding: 7px;
  margin-top: 9px;
  margin-left: 9px;
  margin-right: 9px;
  border: solid black;
  border-width: 2px;
  border-color: black;
  border-radius: 12px;
}

.label {
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.button {
  padding: 5px;
  margin: 5px;
  border-width: 2px;
  border-color: black;
  border-radius: 20px;
  border-style: double;
  font-family: "DM Sans", sans-serif;
}

.button:hover {
  background-color: rgb(174, 175, 174);
}

.path-bar {
  width: 98%;
  margin-bottom: 5px;
  height: 35px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
}

.headline {
  position: relative;
  display: inline-block;
  right: -1vw;
  font-size: 38px;
  font-weight: 500;
  text-indent: -5px;
  text-align: center;
}

.areaDesc {
  padding-left: 44px;
  font-size: 20px;
  width: 100%;
  word-wrap: break-word;
}

.effective {
  width: 150px;
  max-width: 150px;
  display: inline-block;
  font-size: 25px;
  padding-left: 5px;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
}

h1 {
  color: black;
  font-size: 24px;
  font-family: "DM Sans", sans-serif;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
